@import "tailwindcss";

@theme {
	--animate-appear: appear 0.3s ease-in-out;
	--animate-move: move 0.5s ease-in-out;
	--animate-merge: merge 0.3s ease-in-out;
}

@keyframes appear {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes move {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(var(--tw-translate-x), var(--tw-translate-y));
	}
}

@keyframes merge {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
}

